@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
    margin: 0;
    padding: 0;
}
.return{
    height: 50px;
    width: 50px;
    background-color: #007bff;
    position: fixed;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
    z-index: 10;
}
.arrow{
    height: 25px;
    width: 25px;
}
.changenav{
    background-color: #ffffff !important;
}
.changebtn1{
    color: #fff !important;
    padding: 13px 30px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    font-family: "Josefin Sans";
}
.changeateg1{
    font-family: "Josefin Sans";
    color: #00095e !important;
    font-weight: 500;
    font-size: 16px;
    padding-top: 13px;
}
.changedropdown1{
    background-color: #00095e !important;
    margin-top: -5px;
}
.changedropdown2{
    color: #ffffff !important;
}
.empty{
    height: 83px;
}
.navphone{
    height: 17px;
    width: 17px;
    margin-right: 10px;
}
.navbtnnbr{
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    font-family: "Josefin Sans" !important;
}
.memories{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.contentcenter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94%;
    height: 100%;
}
.memoriescontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.memoriesbottom{
    background-color: white;
    padding-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}
.btnexplore{
    font-family: "Roboto",sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background-color: #00095e;
    width: 270px;
    height: 70px;
    border-radius: 5px;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btnexplore::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFC800;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 200ms ease-in;
    border-radius: 5px;
}
.btnexplore:hover::after{
    transform: scaleY(1);
}

.memoriesh1{
    font-family: "Josefin Sans",sans-serif;
    color: #00095e;
    font-style: normal;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}
.undermemoreis{
    margin: 0;
    font-size: 20px;
    color: #00095e;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    margin-bottom: 40px;
}
.animation{
    height: 800px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.bus{
    width: 970px;
    height: 478px;
    animation: busmove 10s infinite ;
    position: absolute;
    bottom: 150px;
}
@keyframes busmove {
    0%{
        transform: translateX(-15%);
    }
    50%{
        transform: translateX(15%);
    }
    100%{
        transform: translateX(-15%);
    }
}
.busimage{
    width: 970px;
    height: 478px;
}
.busbc{
    width: 100%;
}
@media(max-width:1024px) {
    .busimage, .bus{
        width: 610px;
        height: 301px;
    }
    .busbc{
        height: 550px;
    }
    .animation{
        height: 550px;
    }
}
@media(max-width:990px) {
    .busimage, .bus{
        width: 449.99px;
        height: 222.14px;
    }
    .busbc{
        height: 450px;
    }
    .animation{
        height: 450px;
    }
}
@media(max-width:770px) {
    .busimage, .bus{
        width: 330px;
        height: 162.9px;
    }
    .busbc{
        height: 350px;
    }
    .animation{
        height: 350px;
    }
}
.upcomingevents{
    padding: 120px 0 100px;
}
.eventstxtspn{
    color: #7EA0FF;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: "Roboto";
}
.eventstxth{
    font-family: "Josefin Sans";
    color: #00095E;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 30px;
}
.eventstxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.countrytag1{
    display: flex;
    justify-content: space-around;
    padding: 30px 20px 30px 23px;
}
.pricetag1{
    color: #00095E;
    font-family: "Josefin Sans";
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}
.pricetag2{
    font-size: 22px;
    font-weight: 700;
    color: #7EA0FF;
    font-family: "Roboto";
    margin-right: 5%;
}
.datetag0{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.daytag1{
    color: #7EA0FF;
    font-size: 14px;
    font-weight: 500;
    margin-right: 5%;
}
.daytag2{
    color: #00095E;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5%;
}
.getready{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding-bottom: 120px;
    margin-right: 5%;
    margin-left: 5%;
}
.aboutus{
    color: #7ea0ff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: .05em;
}
.getreadyh2{
    font-family: "Josefin Sans";
    color: #00095e;
    margin-top: 0;
    font-style: normal;
    font-size: 50px;
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 22px;
}
.twopeopleimg{
    width: 50%;
}
.getreadytxt1{
    width: 30%;
}
.btnbook{
    font-family: "Roboto",sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFC800;
    width: 270px;
    height: 70px;
    border-radius: 5px;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btnbook::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00095e;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 200ms ease-in;
    border-radius: 5px;
}
.btnbook:hover::after{
    transform: scaleY(1);
    border-radius: 5px;
}
.twoppl{
    width: 80%;
    height: 80%;
}
.getreadyp{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 50px;
    font-family: "Roboto";
    color: #677f8b;
    margin-top: 0;
}
.custumers{
    background-image: url(img/gallery/section_bg1.jpg);
    height: 500px;
}
.faq1{
    padding-top: 120px;
    padding-bottom: 100px;
}
.faq3{
    color: #7ea0ff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: .05em;
    font-family: "Roboto";
    font-style: normal;
    line-height: 1.5;
}
.faq1title{
    font-size: 50px;
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 22px;
    font-family: "Josefin Sans",sans-serif;
    color: #00095e;
    margin-top: 0;
    font-style: normal;
    box-sizing: border-box;
}
.faqfooterbtn2{
    margin-top: 40px;
}
.faqcontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.faqfooterbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.faqtitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lefttxt1{
    width: 25%;
}
.rightimg1{
    width: 50%;
}
.changedivs3, .changedivs4, .changedivs5{
    background-color: #ffffff !important;
    text-decoration: none !important;
}
.changedivs2{
    border: none !important;
}
.changedivs4{
    color: #010a44 !important;
    display: block !important;
    text-decoration: none !important;
    border-bottom: 1px solid #efefef !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    font-family: "Josefin Sans" !important;
}
.changedivs6{
    background: #fff;
    padding: 20px 38px;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #212529;
    text-align: left;
}
.videox1{
    padding-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videox2{
    width: 100%;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videobcgr{
    width: 1170px;
    height: 560px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoimg1{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}
@media(max-width:1200px) {
    .videobcgr{
        width: 930px;
        height: 450px;
    }
}
@media(max-width:950px) {
    .videobcgr{
        width: 690px;
        height: 450px;
    }
    .videoimg1{
        border-radius: 10px;
    }
}
@media(max-width:720px) {
    .videobcgr{
        width: 510px;
        height: 350px;
    }
    .videoimg1{
        border-radius: 10px;
    }
}
.videocolumn1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.videoname{
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    font-family: "Josefin Sans";
    margin-bottom: .5rem;
}
.playbtn{
    margin-bottom: 20px;
    cursor: pointer;
}
.dropdown:hover>.dropdown-menu{
    display: block;
}
.bottomslider{
    height: 280px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic1{
    background-image: url(img/gallery/xinstra1.jpg.pagespeed.ic.egI130yrTZ.webp);
    height: 100%;
    width: 25%;
}
.pic2{
    background-image: url(img/gallery/xinstra2.jpg.pagespeed.ic.-lvcMog2Kh.webp);
    height: 100%;
    width: 25%;
}
.pic3{
    background-image: url(img/gallery/xinstra3.jpg.pagespeed.ic.MnmzFtJhG4.webp);
    height: 100%;
    width: 25%;
}
.pic4{
    background-image: url(img/gallery/xinstra4.jpg.pagespeed.ic.qJdaOuwztS.webp);
    height: 100%;
    width: 25%;
}
.pic5{
    background-image: url(img/gallery/xinstra5.jpg.pagespeed.ic.cvunh78lUF.webp);
    height: 100%;
    width: 25%;
}
.footer1x{
    padding-top: 114px;
    height: 414px;
    background-color: #010a44;
}
.footerbottomarea{
    height: 89px;
    background-color: #010a44;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.lastbottomtxt{
    font-family: "Roboto",sans-serif;
    color: #8a8fbe;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
}
.colum1-1txt{
    color: #8a8fbe;
    font-size: 16px;
    line-height: 1.8;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
.colorlibx1{
    color: #ffc800;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    font-family: "Roboto";
    font-style: normal;
    margin-left: 5px;
}
.colorlibx1:hover {
    text-decoration: none;
    color: #ffc800;
}
.coulm1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}
.logobox{
    display: flex;
    margin-bottom: 20%;

}
.logobox svg{
    margin: 9px;
}
.footerlogo1{
    height: 57px;
    width: 165px;
}
.footer1x{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footercontainer{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.coulm2{
    width: 15%;
    height: 100%;
}
.coulm3{
    width: 15%;
    height: 100%;
}
.coulm4{
    width: 25%;
    height: 100%;
}
.lastbottomtxt img{
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
.columhead{
    font-family: "Roboto",sans-serif;
    color: #fff;
    font-size: 17px;
    margin-bottom: 28px;
    font-weight: 700;
    margin-top: 0;
    font-style: normal;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 28px;
}
.column2ul{
    list-style: none;
    margin:0;
    padding: 0; 
}
.column2ul li{
    margin-bottom: 15px;
}
.column2ulli{
    color: #8a8fbe;
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}
.column2ulli:hover{
    color: #ffffff;
}
.column4txt1{
    color: #8a8fbe;
    font-size: 16px;
    font-family: "Roboto";
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0;
    box-sizing: border-box;
    font-style: normal;
    text-align: left;
}
.bottomphone1{
    font-family: "Roboto";
    font-size: 22px!important;
    color: #ffc800!important;
    margin-bottom: 0;
    font-weight: 400!important;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
.bottomphone1:hover{
    text-decoration: none;
}
.hoverx1:hover{
    color: #007bff !important;
}
.hoverx1::after{
    content: '';
    display: block;
    height: 2px;
    background-color: #007bff;
    width: 0%;
    border-radius: 5px;
    transition: all ease-in-out 350ms;
}
.hoverx1:hover::after{
    width: 100%;
}
.hoverx2{
    background-color: #00095e !important;
}
.custumers{
    display: flex;
    align-items: center;
    justify-content: center;
}
.customerscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
}
.customername, .bottomslider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.customerssay{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
    font-family: "Josefin Sans",sans-serif;
    margin-top: 0px;
    font-style: normal;
    line-height: 1.2;
}
.customerssayp{
    line-height: 1.5;
    padding: 0 50px;
    margin-bottom: 32px;
    font-size: 26px;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    margin-top: 0;
    font-style: normal;
    text-align: center;
}
.foundername1{
    margin: 0;
    font-family: "Roboto",sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    line-height: 1.5;
}
.founderjob{
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    font-family: "Roboto",sans-serif;
    margin-bottom: 15px;
}
.namejobmain{
    margin-left: 20px;
}
